@{
    ViewBag.Title = "Home";
 }
<div class="container container-main">
    <div class="row">
        <div class="col-md-12">
            @Html.ActionLink("New Quote", "QuoteNew", "Quote")
            /
            @Html.ActionLink("View Quotes", "QuoteView", "Quote")
        </div>
     </div>  
    <hr class="hr-main" />
    <div class="row">
        <div class="col-md-6">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title">Panel primary</h3>
                </div>
                <div class="panel-body">
        @(Html.Kendo().Grid<QuoteManager.Models.ViewModel.Quote.QuoteViewModel>()
        .Name("grid")
        .ToolBar(toolBar => toolBar.Template(@<text><input class='k-textbox' value="Search..." onfocus="if (this.value=='Search...') this.value='';" onblur="this.value = this.value==''?'Search...':this.value;" id='searchbox' /></text>))
        
        .Columns(columns =>
                {
                    columns.Bound(c => c.quoteId);
                    columns.Bound(c => c.name);
                    columns.Bound(c => c.owner);
                    columns.Bound(c => c.createdDate);
                    columns.Bound(c => c.modifiedDate);

                })
                .HtmlAttributes(new { style = "height: 200px;" })
                .Scrollable()
                .Sortable()
                .Pageable(pageable => pageable
                    .Refresh(true)
                    .PageSizes(true)
                    .ButtonCount(5))
                .DataSource(dataSource => dataSource
                    .Ajax()
                    .Read(read => read.Action("Customers_Read", "Grid"))
                    .PageSize(20)
                )
                    )
                </div>
            </div>
        </div>
        <div class="col-md-6">.col-md-4</div>
    </div>
        </div>
<script type="text/javascript">
    function addSearch() {
        return { searchbox: $('#searchbox').val() };
    }
    $('#searchbox').keyup(function () {
        $('#gridWorkflows').data('kendoGrid').dataSource.read();
    });
</script>
