@model QuoteManager.Models.ViewModel.Account.NewUserViewModel
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>NewUser</title>
</head>
<body>
    <div> 
@using (Html.BeginForm(FormMethod.Post))
    {
        @Html.TextAreaFor(m => m.username)
        @Html.TextAreaFor(m => m.password)
    <button class="btn btn-lg btn-primary btn-block" type="submit">Create User</button>

    }
    </div>
</body>
</html>
