@model QuoteManager.Models.ViewModel.Account.SignInViewModel
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/Site.css" rel="stylesheet" />
    <title>SignIn</title>
</head>
<body id="signin">
    <div class="container">
    @using (Html.BeginForm("SignIn", "Account", FormMethod.Post, new { @class="form-signin"}))
    { 
            <h2 class="form-signin-heading">Sign In</h2>
            <label for="inputEmail" class="sr-only">Email address</label>
            @Html.TextBoxFor(m => m.username, new { autofocus = "autofocus", placeholder = "Email address", @class = "form-control", type = "email" })
            <label for="inputPassword" class="sr-only">Password</label>
            @Html.TextBoxFor(m => m.password, new { placeholder = "Password", @class = "form-control", type = "password" })
            <div class="checkbox">
                <label>
                    <input type="checkbox" value="remember-me"> Remember me
                </label>
            </div>
    <button class="btn btn-primary" type="submit">Sign In</button>
    }
    </div> 
    <!-- /container -->
</body>
</html>
