@model QuoteManager.Models.Database.Quote.tbl_quotefolder

@using (Ajax.BeginForm("FolderAdd", "Quote", new { view = "FolderEdit" }, new AjaxOptions { UpdateTargetId = "response", OnSuccess = "onFolder_Save" }, new { @class = "form-inline" }))
{
    @Html.HiddenFor(model => model.folderId)
    <button type="button" class="k-button" aria-label="Left Align">
        <span class="glyphicon glyphicon-folder-open" aria-hidden="true"></span>
    </button>
    <div class="form-group">
        @Html.Kendo().TextBoxFor(model => model.name).HtmlAttributes(new { autofocus = "autofocus", style = "width:300px;height:28px" })
    </div>
    <button class="k-button" type="submit" id="AddFolder">
        <span class="glyphicon glyphicon-edit" aria-hidden="true"></span> Rename Folder
    </button>
    <button class="k-button" type="button" onclick="onFolder_Cancel()" id="CancelEditFolder">
        <span class="glyphicon glyphicon-ban-circle" aria-hidden="true"></span> Cancel
    </button>
    <div class="field-validation-error" id="response"></div>
}
<script>
    $(document).ready(function () {
        $('#response').hide();
    });
